*{
    color:#4b4b4b;
    font-family: Libre+Franklin, sans-serif;
}
.MyBG{
    background-color:#30336b;
}
.graysection {
    background-color:#fcfcfc;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 15px;
  display: inline-block;
}

input[type=submit] {
  background-color: #30336b;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #130f40;
}

.container {
  border-radius: 5px;
}


.size350 {
 height:350px; 
 width:350px;
 object-fit: contain;   
}

.size250 {
 height:250px; 
 width:250px;
 object-fit: contain;
}
